*{
    margin: 0;
    padding: 0;
}
.redbox{
    width: 200px;
    height: 200px;
    background-color: red;
    border: 1px solid red; */
    /* margin: 20px;
    padding: 20px; */
}

.bluebox{
    width: 100px;
    height: 100px;
    background-color: blue;
    border: 1px solid blue;
    margin: 20px;
    padding: 20px;
}